version: '3'
services:
  db:
    image: mysql:5.7
    command: --innodb-use-native-aio=0
    container_name: db
    restart: always
    tty: true
    volumes:
      - ./mysql:/var/lib/mysql
      - ./migrations/init.sql:/docker-entrypoint-initdb.d/setup.sql
    environment:
      - MYSQL_DATABASE=nodedb
      - MYSQL_ROOT_PASSWORD=root
    networks:
      - node-network

  app:
    build: 
      context: node
      dockerfile: Dockerfile
    image: lucassantoos/fullcycle-node
    container_name: app
    entrypoint: dockerize -wait tcp://db:3306 -timeout 10s node index.js
    networks: 
      - node-network
    # volumes: 
      # - ./node:/usr/src/app
    tty: true
    depends_on: 
       - db

  nginx:
    build: 
      context: ./nginx
      dockerfile: Dockerfile
    image: lucassantoos/fullcycle-nginx
    container_name: fullcycle-nginx
    networks: 
      - node-network
    ports: 
      - "8080:80"
    depends_on: 
       - app

networks:
  node-network:
    driver: bridge